article.task.done {
    text-decoration: line-through;
    color: lightgrey;
}

article.task.done span {
    text-decoration: none;
}

article.task {
    font-weight: 500;
}

article.task.important {
    font-weight: 700;
}

article.task .date {
    font-size: 0.7em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

article.task.hide {
    display: none;
}